<div class="container">
    <h1>Editing Application</h1>

    <%= render 'form', application: @application %>

    <%= link_to 'Show', @application, class: "btn btn-link" %> |
    <%= link_to 'Back', applications_path, class: "btn btn-link" %>
</div>
