<div class="container">
    <h1>New Application</h1>

    <%= render 'form', application: @application, class: "btn btn-link" %>

    <%= link_to 'Back', applications_path, class: "btn btn-link" %>
</div>