<header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">Apps in a Snap was started with the desire to improve the future. We wanted to identify problems app users were experiencing and help solve them. In our initial research, we discovered that app users and developers wanted a central location where they could add and search through applications. So we came up with the idea for AppPedia: a user-friendly catalog of apps. We are comprised of five individuals.</p>
            </div>
            <div class="col-sm-4 py-4">
                
                <br/>
               <!-- <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-light" type="submit">Search</button>
                </form> -->
                <h3 class="text-white">Search Applications</h3>
                <div class="row">
                    <div class="col">
                        <%= form_tag applications_path, :method => 'get' do %>
                        <%= text_field_tag :search, params[:search], class: "form-control form-control-sm", placeholder: "Search"%>
                    </div>
                    <div class="col">
                        <%= submit_tag "Search", class: "btn btn-light btn-sm" %>
                    </div>
                </div>
                <% end %>
                <br/>
                <h4 class="text-white">Filter</h4>
                <div class="form-check form-check-inline">
                  <label class="form-check-label text-white">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">A-Z
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label text-white">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Z-A
                  </label>
                </div>
                
                <br/>
                <p class="text-white"><strong>Platform</strong></p>
                <div class="form-check form-check-inline">
                  <label class="form-check-label text-white">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1">Android
                  </label>
                </div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label text-white">
                    <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">Apple
                  </label>
                </div>
                
                <p class="text-white"><strong>Price</strong></p>
                <form>
                  <div class="form-row">
                    <div class="col">
                      <input class="form-control form-control-sm" type="text" placeholder="Min">
                    </div>
                    <div class="col">
                      <input class="form-control form-control-sm" type="text" placeholder="Max">
                    </div>
                    <div class="col">
                        <button type="button" class="btn btn-light btn-sm">Go</button> 
                    </div>
                  </div>
                </form>
                <br/>
                
                <strong><a href="#" class="text-white">Show All</a></strong>
<!--                    <button type="button" class="btn btn-light btn-sm">Show All</button> -->
                
                
            </div>
          </div>
        </div>
      </div>
    <div class="navbar navbar-dark bg-dark">
        <div class="container d-flex justify-content-between">
          <a href="/" class="navbar-brand">AppPedia</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
    </div>
</header>